/* 
 * Stack Composition
 * 
 * - Manages vertical rhythm
 * - Provides consistent spacing between elements
 * - Uses logical properties
 */

body {
  display: flex;
  flex-direction: column;

  & main {
    margin-top: clamp(var(--spacing-sm), 2vw, var(--spacing-med));

    & section {
      margin-top: var(--spacing-lg);

      & h2 {
        margin-bottom: var(--spacing-sm);
      }
    }
  }

  .stack {
    margin-top: var(--spacing-sm);

    & > * {
      margin-top: clamp(calc(var(--spacing-sm) / 2), 1vw, var(--spacing-sm));
    }
    
    & .content-block {
      margin-top: var(--spacing-med);
    }
  }

  & footer {
    margin-top: auto;
  }
}
