/* 
 * Stack Composition
 * 
 * - Manages vertical rhythm
 * - Provides consistent spacing between elements
 * - Uses logical properties
 */

body {
  display: flex;
  flex-direction: column;

  & main {
    margin-top: clamp(var(--spacing-sm), 2vw, var(--spacing-med));

    & section {
      margin-top: var(--spacing-sm);
    }

    .stack {
      margin-top: var(--spacing-sm);

      & > * {
        margin-top: clamp(calc(var(--spacing-sm) / 2), 1vw, var(--spacing-sm));
      }
    }
  }

  & footer {
    margin-top: auto;
  }
}
