/* 
 * Stack Composition
 * 
 * - Manages vertical rhythm
 * - Provides consistent spacing between elements
 * - Uses logical properties
 */

body {
  display: flex;
  flex-direction: column;

  & main {
    margin-block: clamp(var(--spacing-sm), 2vw, var(--spacing-med));

    & section {
      margin-block: var(--spacing-lg);

      & h2 {
        margin-block: var(--spacing-sm);
      }
    }
  }


  .stack {
    margin-block: var(--spacing-xl);

    &>* {
      margin-block: clamp(calc(var(--spacing-sm) / 2), 1vw, var(--spacing-sm));
    }

    & .content-block {
      margin-block: var(--spacing-lg);
    }
  }

  & footer {
    margin-top: auto;
  }
}