/* 
 * Footer Component
 * Footer Component - Lily Sorensen
 * 
 * TODO: Style footer including:
 * - Layout and spacing
 * - Content organization
 * - Link styles
 * - Responsive behavior
 */

footer :is(.container) {
  box-shadow: 0px 0px 10px grey;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    :is(.footer__section) {
      padding: 40px 0 40px 30%;
    }
    a:hover{
        font-weight: bolder;
    }
  }

  .footer__bottom {
    justify-items: center;
    padding: 15px;

  }
}