/* 
 * Footer Component
 * Footer Component - Lily Sorensen
 * 
 * TODO: Style footer including:
 * - Layout and spacing
 * - Content organization
 * - Link styles
 * - Responsive behavior
 */

footer {
  width: 100%;

  :is(.container) {
    box-shadow: 0px 0px 10px grey;

    .grid {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      :is(.footer__section) {
        justify-items: center;
      }
      a:hover {
        font-weight: bolder;
      }
    }

    .footer__bottom {
      justify-items: center;
      padding: 15px;
    }
  }
}

@media screen and (min-width: 48rem) {
  footer {
    :is(.container .grid) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
