/* 
 * Form Component
 * 
 * TODO: Style form elements including:
 * - Input fields (text, email, etc.)
 * - Textareas
 * - Select dropdowns
 * - Labels
 * - Focus states
 * - Error and success states
 */