/* 
 * Header Component
 * Header Component - Lily Sorensen
 * 
 * TODO: Style header including:
 * - Layout and positioning
 * - Branding/logo area
 * - Theme toggle button
 * - Responsive behavior
 */

.header {
  box-shadow: 0px 0px 10px grey;
  width: 100%;

  .header__content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin: 0 3rem;
    padding: 2rem 0;
    justify-items: space-between;
  }
  .header__branding {
    justify-items: center;
  }

  .theme-toggle {
    border: none;
    /* background-color: rgb(85, 85, 85); */
    background-color: color-mix(in srgb, var(--bg-clr) 70%, black);
    width: fit-content;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    justify-self: center;
    margin: 10px 0;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }

    .theme-toggle__icon {
      padding: 0 7px;
    }
  }
}

@media screen and (min-width: 48rem) {
  .header .header__content {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    height: 10rem;
  }
}
