/* 
 * Header Component
 * Header Component - Lily Sorensen
 * 
 * TODO: Style header including:
 * - Layout and positioning
 * - Branding/logo area
 * - Theme toggle button
 * - Responsive behavior
 */

.header {
  box-shadow: 0px 0px 10px grey;

  .header__content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin: 0 3rem;
    padding: 2rem 0;
    justify-items: space-between;
  }
  .header__branding {
    justify-items: center;
  }

  :is(button) {
    border: none;
    /* background-color: rgb(85, 85, 85); */
    background-color: inherit;
    box-shadow: 0 0 6px grey;
    width: fit-content;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    justify-self: center;

    :hover {
      transform: scale(1.5);
    }
  }
  .header__branding,
  nav, .theme-toggle {
    margin: 10px 0;
  }
}

@media screen and (min-width: 48rem) {
  .header .header__content {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    height: 10rem;
  }
}
